= form_for([:admin, @subject]) do |sf|
  .h1 投稿画面
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        = sf.text_field :name, placeholder: "名前", class: "proto-new-title"
        = sf.text_field :company, placeholder: "会社", class: "proto-new-title"
        = sf.text_field :occupation, placeholder: "職業", class: "proto-new-title"
        = sf.text_field :position, placeholder: "エンジニア、デザイナー etc..."
    .row
      .col-md-12
        .cover-image-upload#main-image
          = sf.fields_for :thumnails do |im|
            = im.file_field :image
            = im.hidden_field :status, value: "main"
      .col-md-12
        %ul.proto-sub-list.list-group
          = sf.fields_for :thumnails do |im|
            %li.list-group-item.col-md-4
              .image-upload#sub-image1
                = im.file_field :image
                = im.hidden_field :status, value: "sub"
          = sf.fields_for :thumnails do |im|
            %li.list-group-item.col-md-4
              .image-upload#sub-image2
                = im.file_field :image
                = im.hidden_field :status, value: "sub"
          = sf.fields_for :thumnails do |im|
            %li.list-group-item.col-md-4
              .image-upload#sub-image2
                = im.file_field :image
                = im.hidden_field :status, value: "sub"
          = sf.fields_for :thumnails do |im|
            %li.list-group-item.col-md-4
              .image-upload#sub-image2
                = im.file_field :image
                = im.hidden_field :status, value: "sub"
          = sf.fields_for :thumnails do |im|
            %li.list-group-item.col-md-4
              .image-upload#sub-image2
                = im.file_field :image
                = im.hidden_field :status, value: "sub"
          = sf.fields_for :thumnails do |im|
            %li.list-group-item.col-md-4
              .image-upload#sub-image2
                = im.file_field :image
                = im.hidden_field :status, value: "sub"
        = sf.submit "Publish"
